<div *ngIf="(Cart$ | async) === null">
  <h3>No hay ningún artículo añadido.</h3>
</div>
<div *ngIf="Cart$ | async as cart">
  <div class="row">
    <table class="table">
      <thead class="table-light">
        <tr>
          <th scope="col"></th>
          <th scope="col">Producto</th>
          <th class="text-center" scope="col">Precio</th>
          <th class="text-center" scope="col">Cantidad</th>
          <th class="text-center" scope="col">Subtotal</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of cart.cartItems">
        <tr>
          <th>
            <span class="remove-item-product"
              ><i (click)="removeCartItem(item)" class="fa fa-times"></i
            ></span>
          </th>
          <td>
            <a routerLink="/shop/{{ item.id }}">
              <span class="image-product">
                <img src="{{ item.picture }}" alt="{{ item.productName }}" />
                <span class="name-product"> {{ item.productName }}</span>
              </span></a
            >
          </td>

          <th class="text-center">{{ item.price | currency }}</th>
          <td class="text-center">
            <i
              (click)="decrementCartItemQuantity(item)"
              class="modify-items fa fa-minus-square"
              aria-hidden="true"
            ></i>
            <span class="quantity-product px-2">
              {{ item.quantity }}
            </span>
            <i
              (click)="incrementCartItemQuantity(item)"
              class="modify-items fa fa-plus-square"
              aria-hidden="true"
            ></i>
          </td>
          <td class="text-center">
            <strong>{{ item.price * item.quantity | currency }} </strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6 text-center">
      <app-order-totals></app-order-totals>
      <a routerLink="/checkout" class="btn btn-outline-success px-4"> pagar </a>
    </div>
  </div>
</div>
