.menu_selected {
  color: #000000;
  &.active {
    color: #fe4c50;
  }
}
.account_selection {
  width: 150px;
}
.main_nav_container {
  height: 70px;
}
.navbar {
  height: 70px;
}
.logo {
  max-height: 60px;
}
