<header class="header trans_300">
  <div class="top_nav">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-right">
          <div class="top_nav_right">
            <ul class="top_nav_menu">
              <li class="account">
                <a href="#">
                  Mi cuenta
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="account_selection" style="width: 150px">
                  <li>
                    <a href="#">
                      <i class="fa fa-sign-in" aria-hidden="true"> </i>Iniciar
                      sesión
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-user-plus" aria-hidden="true"></i
                      >Regístrese</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main_nav_container" style="height: 70px">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-right">
          <div class="logo_container">
            <a class="py-2" routerLink="/"
              ><img
                src="/assets/images/logo-angular.png"
                style="max-height: 60px"
            /></a>
          </div>
          <nav class="navbar" style="height: 70px">
            <ul class="navbar_menu">
              <li>
                <a
                  class="menu_selected py-2"
                  routerLink="/"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Inicio</a
                >
              </li>
              <li>
                <a
                  class="menu_selected py-2"
                  routerLink="/shop"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Tienda</a
                >
              </li>
              <!-- <li><a routerLink="test-error">Test Error</a></li> -->
              <li><a class="menu_selected py-2" href="#">Páginas</a></li>
              <li><a class="menu_selected py-2" href="#">Blog</a></li>
              <li><a class="menu_selected py-2" href="#">Contacto</a></li>
            </ul>
            <ul
              routerLink="/cart"
              *ngIf="cart$ | async as cart"
              class="navbar_user">
              <li>
                <a routerLink="/cart"
                  ><i class="fa fa-user" aria-hidden="true"></i
                ></a>
              </li>
              <li class="checkout">
                <a routerLink="/cart">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  <span id="checkout_items" class="checkout_items">{{
                    cart.cartItems.length
                  }}</span>
                </a>
              </li>
            </ul>
            <div class="hamburger_container">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="fs_menu_overlay"></div>
<div class="hamburger_menu">
  <div class="hamburger_close">
    <i class="fa fa-times" aria-hidden="true"></i>
  </div>
  <div class="hamburger_menu_content text-right">
    <ul class="menu_top_nav">
      <li class="menu_item has-children">
        <a href="#">
          My Account
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="menu_selection">
          <li>
            <a href="#"
              ><i class="fa fa-sign-in" aria-hidden="true"></i>Iniciar sesión</a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa fa-user-plus" aria-hidden="true"></i>Regístrese</a
            >
          </li>
        </ul>
      </li>
      <li class="menu_item"><a href="#" routerLink="/">Inicio</a></li>
      <li class="menu_item"><a href="#" routerLink="/shop">Tienda</a></li>
      <li class="menu_item"><a href="#">Páginas</a></li>
      <li class="menu_item"><a href="#">Blog</a></li>
      <li class="menu_item"><a href="#">Contacto</a></li>
    </ul>
  </div>
</div>
