.product_image {
  height: 200px;
  overflow: hidden;
}

.product {
  height: 340px;
  width: 200px;
}

.product_image {
  height: 60%;
  display: flex;
  align-items: center;
}

.img-fluid {
  object-fit: cover;
}
