<div class="main_slider">
  <div class="container fill_height">
    <div class="row align-items-center fill_height">
      <div class="col">
        <div class="main_slider_content">
          <br />
          <br />
          <br />
          <br />
          <br />
          <h3>
            <span>Hasta un 30% de descuento en novedades</span>
          </h3>
          <div class="red_button shop_now_button">
            <a href="#">comprar ahora</a>
          </div>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
